In [1]:
import pandas as pd
customers = pd.read_csv (r'C:\Users\firne\bip-python-unh\sales_analysis\data\customers.csv')
contracts = pd.read_csv (r'C:\Users\firne\bip-python-unh\sales_analysis\data\contracts.csv')
sales_data = customers.join(contracts)
sales_data

,id,company,sector,industry,email,address,city,state,zip,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,1,127,8/17/2019,12,"$53,000.00","$11,600.00"
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252,2,119,12/1/2019,22,"$77,000.00","$14,600.00"
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234,3,160,5/1/2019,15,"$13,000.00","$22,800.00"
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667,4,7,12/8/2019,23,"$56,000.00","$11,400.00"
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805,5,144,2/11/2019,7,"$21,000.00","$19,800.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Livefish,Energy,Oilfield Services/Equipment,gcressy6t@twitter.com,05019 Eastwood Alley,Brooksville,FL,34605,246,70,9/24/2019,3,"$57,000.00","$14,400.00"
246,247,Katz,NaN,NaN,siacobini6u@fc2.com,6567 Old Shore Center,Omaha,NE,68134,247,168,1/5/2019,20,"$77,000.00","$12,900.00"
247,248,Yombu,Public Utilities,Natural Gas Distribution,ccandy6v@tumblr.com,6442 Vahlen Avenue,Salt Lake City,UT,84125,248,128,3/17/2019,1,"$19,000.00","$6,300.00"
248,249,Dynazzy,NaN,NaN,lmothersole6w@nsw.gov.au,15 Oakridge Court,New York City,NY,10060,249,77,4/22/2019,9,"$90,000.00","$9,400.00"
249,250,Twitterwire,Technology,Semiconductors,haseef6x@miitbeian.gov.cn,8190 Rusk Point,Seattle,WA,98166,250,66,1/31/2019,14,"$68,000.00","$13,600.00"

In [5]:
sales_data["deposit"] = sales_data["deposit"].replace('[\$\,\.]',"",regex=True).astype(int)
sales_data["monthly_amt"] = sales_data["monthly_amt"].replace('[\$\,\.]',"",regex=True).astype(int)
sales_data['contract_term'] = sales_data['contract_term'].astype(int)

In [6]:
sales_data['deposit'] = pd.to_numeric(sales_data.deposit)
sales_data

,id,company,sector,industry,email,address,city,state,zip,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,1,127,8/17/2019,12,5300000,1160000
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252,2,119,12/1/2019,22,7700000,1460000
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234,3,160,5/1/2019,15,1300000,2280000
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667,4,7,12/8/2019,23,5600000,1140000
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805,5,144,2/11/2019,7,2100000,1980000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Livefish,Energy,Oilfield Services/Equipment,gcressy6t@twitter.com,05019 Eastwood Alley,Brooksville,FL,34605,246,70,9/24/2019,3,5700000,1440000
246,247,Katz,NaN,NaN,siacobini6u@fc2.com,6567 Old Shore Center,Omaha,NE,68134,247,168,1/5/2019,20,7700000,1290000
247,248,Yombu,Public Utilities,Natural Gas Distribution,ccandy6v@tumblr.com,6442 Vahlen Avenue,Salt Lake City,UT,84125,248,128,3/17/2019,1,1900000,630000
248,249,Dynazzy,NaN,NaN,lmothersole6w@nsw.gov.au,15 Oakridge Court,New York City,NY,10060,249,77,4/22/2019,9,9000000,940000
249,250,Twitterwire,Technology,Semiconductors,haseef6x@miitbeian.gov.cn,8190 Rusk Point,Seattle,WA,98166,250,66,1/31/2019,14,6800000,1360000

In [7]:
sales_data.groupby(['state'])

In [9]:
monthly = sales_data['contract_term']*sales_data['monthly_amt']

In [12]:
sales_data['total_sales'] = monthly
sales_data

,id,company,sector,industry,email,address,city,state,zip,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt,total_sales
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170,1,127,8/17/2019,12,5300000,1160000,13920000
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252,2,119,12/1/2019,22,7700000,1460000,32120000
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234,3,160,5/1/2019,15,1300000,2280000,34200000
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667,4,7,12/8/2019,23,5600000,1140000,26220000
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805,5,144,2/11/2019,7,2100000,1980000,13860000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Livefish,Energy,Oilfield Services/Equipment,gcressy6t@twitter.com,05019 Eastwood Alley,Brooksville,FL,34605,246,70,9/24/2019,3,5700000,1440000,4320000
246,247,Katz,NaN,NaN,siacobini6u@fc2.com,6567 Old Shore Center,Omaha,NE,68134,247,168,1/5/2019,20,7700000,1290000,25800000
247,248,Yombu,Public Utilities,Natural Gas Distribution,ccandy6v@tumblr.com,6442 Vahlen Avenue,Salt Lake City,UT,84125,248,128,3/17/2019,1,1900000,630000,630000
248,249,Dynazzy,NaN,NaN,lmothersole6w@nsw.gov.au,15 Oakridge Court,New York City,NY,10060,249,77,4/22/2019,9,9000000,940000,8460000
249,250,Twitterwire,Technology,Semiconductors,haseef6x@miitbeian.gov.cn,8190 Rusk Point,Seattle,WA,98166,250,66,1/31/2019,14,6800000,1360000,19040000

In [39]:
grouped = sales_data.groupby(['state']).sum(['total_sales'])
print (grouped['total_sales'])

state
AK     44910000
AL     28670000
AR     35200000
AZ     83620000
CA    458580000
CO    127990000
CT     90700000
DC    109800000
DE     50410000
FL    297580000
GA     35570000
HI     18720000
IA     30720000
ID     60800000
IL     79790000
IN     39330000
KS    157730000
KY      2130000
LA    171690000
MA     23000000
MD    120120000
ME     26180000
MI     97680000
MN     22280000
MO    102700000
MS     33600000
NC     54910000
NE    103550000
NJ       600000
NM     10000000
NV     20370000
NY    281760000
OH    219510000
OK    155280000
OR     80880000
PA    197430000
SC      2310000
TN     83830000
TX    437050000
UT       630000
VA    189250000
WA    285930000
WI    104780000
WV     10200000
Name: total_sales, dtype: int32